.contactForm {
  padding: 0 1rem;

  button {
    cursor: pointer;
    background: #ff2383;
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    color: white;

    h6 {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  form {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;

    .group {
      width: 100%;

      .one,
      .two {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    .full {
      width: 100%;
      margin: 0 auto;
    }

    input,
    textarea,
    select {
      width: 100%;
    }

    label {
      margin-bottom: 0.4rem;
    }

    input,
    textarea,
    select {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
      margin-bottom: 0.8rem;
      border: 2px solid #ff2383;
      border-radius: 15px;
      outline: none;
      padding: 0.6rem;
      resize: none;
      background-color: transparent;

      font-weight: 500;
      font-size: 0.85rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

@media only screen and (min-width: 775px) {
  .contactForm {
    h2 {
      font-size: 2rem;
    }

    .confirmed {
      p {
        font-size: 1.5rem;
      }
    }

    form {
      width: 90%;
      margin: 1rem auto;

      button {
        cursor: pointer;
        font-size: 1.1rem;
        margin-top: 1rem;
      }

      input,
      textarea,
      select {
        font-size: 1rem;
      }

      .group {
        display: flex;
        align-items: center;
        place-content: space-between;
        width: 100%;

        .one {
          label,
          input,
          select {
            margin-right: auto;
            width: 95%;
          }
        }

        .two {
          label,
          input,
          select {
            margin-left: auto;
            width: 95%;
          }

          select {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .contactForm {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 800px) {
  .contactForm {
    form {
      .group {
        flex-direction: row;
      }

      button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        h6 {
          font-size: 1rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .contactForm {
    width: 50rem;
    margin-top: 5rem;

    form button {
      cursor: pointer;
      padding: 0.7rem 1rem;
    }
  }
}
